<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="context1" targetRuntime="MyBatis3DynamicSQL">
        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <property name="useLegacyGeneratedAnnotation" value="true"/>
        </commentGenerator>
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://192.168.127.128:3306/sc_database?useUnicode=true&amp;characterEncoding=UTF-8"
                        userId="springcloud"
                        password="sc_passw0rd">
        </jdbcConnection>
        <javaTypeResolver/>
        <javaModelGenerator targetPackage="com.gonwan.toys.mybatis.generated.model" targetProject="src/main/java"/>
        <javaClientGenerator targetPackage="com.gonwan.toys.mybatis.generated.mapper" targetProject="src/main/java"/>
        <table tableName="t_user">
            <generatedKey column="id" sqlStatement="JDBC" identity="true" type="post"/>
        </table>
        <table tableName="t_user2">
            <generatedKey column="id" sqlStatement="JDBC" identity="true" type="post"/>
        </table>
        <table tableName="t_user3">
            <generatedKey column="id" sqlStatement="JDBC" identity="true" type="post"/>
        </table>
    </context>
</generatorConfiguration>
