<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
      <level>WARN</level>
      <level>INFO</level>
    </filter>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%-5level] - %m%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>
  <root name="com.gonwan.amqp" level="INFO">
    <appender-ref ref="console" />
  </root>
</configuration>

